/* General styles */
body {
  margin: 0;
  font-family: Gill Sans, sans-serif;
  background-color: #0f172a;
  color: #ffffff;
}

.homepage-main {
  padding: 20px; /* Adjust padding for spacing from the top */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align content to the top */
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

/* Progress bar styles */
.progress-bar {
  width: 80%;
  height: 10px;
  background-color: #555;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0;
}

.progress {
  height: 100%;
  background-color: #22c55e;
  transition: width 0.2s ease;
}

/* Uploaded file name and message */
.uploaded-filename {
  font-size: 1.1rem;
  margin: 10px 0;
}

.uploaded-message {
  font-size: 1.3rem;
  font-style: italic;
  color: #f3f3f3;
  margin-bottom: 30px;
}

/* Button styling */
.cta {
  display: flex;
  gap: 20px; /* Add space between buttons */
  margin-top: 20px; /* Space between headline and buttons */
}

.btn-secondary {
  background-color: #eab308;
  border-color: #eab308;
  padding: 12px 30px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 35px;
  color: black;
  position: relative;
}

.btn-secondary:hover {
  background-color: #d97706;
}

/* Next button */
.next-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #2563eb;
  color: #ffffff;
  border: none;
  font-size: 2.0rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.next-button:hover {
  background-color: #1d4ed8;
  transform: scale(1.1);
}

.next-button:active {
  transform: scale(0.9);
}
